<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <img src="https://media.licdn.com/dms/image/C510BAQEBxglf5-knTQ/company-logo_200_200/0/1630586594017?e=2147483647&v=beta&t=ZCho3-hGCuRM1NRFoi55HsIfwDv6TGTZ-NekAYcO0Ik" width="70px" height="70px">
            <h2>Organiser Login</h2>
            <form action="/organiserlogin" method="post">
                <div class="textbox">
                    <input type="text" placeholder="User Name" name="username" required>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <div class="textbox">
                    <input type="text" placeholder="email" name="email" required>
                </div>
                <div class="remember-forget">
                    <label>
                        <input type="checkbox" name="remember"> Remember Me
                    </label>
                    <a href="#">Forget Me?</a>
                </div>
                <p>Don't have an account?&nbsp;&nbsp;<a href="usersignup">signup</a></p>
                <button type="submit" class="btn">Login</button>
            </form>
        </div>
    </div>
</body>
</html>