<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Buttons</title>
    <link rel="stylesheet" href="/css/loginstyle.css">
</head>
<body>
	<div class="login-container">
        
	<div class="login-box">
	<img src="https://media.licdn.com/dms/image/C510BAQEBxglf5-knTQ/company-logo_200_200/0/1630586594017?e=2147483647&v=beta&t=ZCho3-hGCuRM1NRFoi55HsIfwDv6TGTZ-NekAYcO0Ik" width="50px" height="50px" >
        <h2 style="text-align:center" >SignUp</h2>
    <div class="center-container">
        <a href="studentsignup"><button class="btn" >Student</button></a>
        <a href="organisersignup"><button class="btn">Organiser</button></a>
        <a href="facultysignup"><button class="btn">Faculty</button></a>
    </div>
    </div>
    </div>
</body>
</html>
